*{
    box-sizing: border-box;
}

.full-wrapper {
    background-color: red;
    padding: 10px;
    width: min-content;
    margin: 0 auto;
    border-radius: 15px;
}

#buttons{
    width: 300px;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(30, 193, 205);

}


button{
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
    background-color: rgb(24, 68, 143);
    padding: 10px;
    color: white;
    font-weight: 550;
}

#container{
    background-color: rgb(30, 193, 205);
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    border-radius: 15px;
}

#container div{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 10px auto;
}

#resolution{
    font-weight: 600;
}

.toggle-color-style-wrapper {
    width: 300px;
    height: 40px;
    background-color: rgb(30, 193, 205);
    margin: 10px auto;
    display: flex;
    border-radius: 15px;
    
    align-items: center;
}

.toggle-color-style-wrapper>span {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: white
}


#toggle-color-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: skyblue;
    width: 2.6rem;
    height: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    position: relative;
}

#toggle-color-style::before {
    content: "";
    position: relative;
    display: block;
    background-color: blue;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    top: 0.1rem;
    left: 0.1rem;
}

#toggle-color-style:checked {
    background-color: blue;
}

#toggle-color-style:checked::before {
    background-color: skyblue;
    transform: translateX(1.6rem);
}

#color-picker {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
